alembic==1.15.1
fastapi==0.121.1
uvicorn==0.34.0
SQLAlchemy==2.0.40
sqlalchemy_searchable==2.1.0
pydantic==2.12.4
dotenv==0.9.9
passlib==1.7.4
asyncpg==0.30.0
python-jose==3.4.0
python_multipart==0.0.20
bcrypt==3.2.2
cryptography==44.0.2
httpx==0.28.1
pillow==11.3.0